html {
    font-family: "Titillium Web", sans-serif;
}

body {
    background: #1A3263;
    color: #E8E2DB;
}

.container {
    box-shadow: 3px 4px #F5564E;
    border-radius: 6px 16px;
    padding: 1rem;
    width: 420px;
    height: auto;
    display: none;
    background: #F5564E;
    opacity: .9;
    color: #E8E2DB;
    font-family: Georgia, serif;
}

#user-pop-up {
    box-shadow: 3px 4px #F5564E;
    border-radius: 6px 16px;
    padding: 1rem;
    width: 420px;
    height: auto;
    display: none;
    background: #F5564E;
    opacity: .9;
    margin: 1rem 2rem;
    text-shadow: 1px .5px #F5564E;
    color: #E8E2DB;
    font-family: Georgia, serif;
    
}

.user-selector {
    box-shadow: 3px 4px #F5564E;
    border-radius: 6px 16px;
    padding: 1rem;
    width: 420px;
    height: auto;
    display: none;
    background: #F5564E;
    opacity: .9;
    margin: 1rem 2rem;
    text-shadow: .5px .5px #F5564E;
    color: #E8E2DB;
    font-family: Georgia, serif;
}

.card {
    box-shadow: 3px 4px #FAB95B;
    border-radius: 15px 40px;
    text-align: center;
    border: #75736f solid 2px;
    padding: 20px;
    width: 250px;
    height: 450px;
    color: #75736f;
    display: inline-grid;
    margin: 1rem 2rem;
    background-color: #FAB95B;
    font-family: Georgia, serif;
}

.recipe-status {
    font-size: larger;
    font-family: Georgia, serif;
}

.add-recipe-form {
    width: 80%;
    font-family: Georgia, serif;
}

.unlike-recipe-btn {
    background-color: #FAB95B;
    border-radius: 3px 8px;
    color: #75736f;
    text-align: center;
    text-decoration: none;
    display: table;
    vertical-align: bottom;
    font-size: 14px;
    height: 50px;
    width: 240px;
    cursor: pointer;
}

.like-recipe-btn {
    background-color: #FAB95B;
    border-radius: 3px 8px;
    color: #75736f;
    text-align: center;
    text-decoration: none;
    display: table;
    vertical-align: bottom;
    font-size: 14px;
    height: 50px;
    width: 240px;
    cursor: pointer;
}

.delete-recipe-btn {
    background-color: #FAB95B;
    border-radius: 3px 8px;
    color: #75736f;
    text-align: center;
    text-decoration: none;
    display: table;
    vertical-align: bottom;
    font-size: 14px;
    height: 50px;
    width: 240px;
    cursor: pointer;
}

#add-new-user {
    border-radius: 3px 8px;
    border: #E8E2DB solid 2px;
    font-size: 24px;
    height: auto;
    width: auto;
    border: #F5564E;
    background: #F5564E;
    box-shadow: 3px 4px #E8E2DB;
    padding: 12px 28px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    color: #E8E2DB;
    font-family: Georgia, serif;
}

#new-recipe-btn {
    border-radius: 3px 8px;
    font-size: 24px;
    height: auto;
    width: auto;
    border: #E8E2DB;
    border: 2px;
    background: #F5564E;
    box-shadow: 3px 4px #E8E2DB;
    padding: 12px 28px;
    margin-left: 50px;
    margin-top: 15px;
    cursor: pointer;
    color: #E8E2DB;
    font-family: Georgia, serif;
}

#all-user-options {
    border-radius: 3px 8px;
    font-size: 24px;
    height: auto;
    width: auto;
    border: #E8E2DB;
    border: 2px;
    background: #F5564E;
    box-shadow: 3px 4px #E8E2DB;
    padding: 12px 28px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
    color: #E8E2DB;
    font-family: Georgia, serif;
}

#tag-line {
    text-align: center;
    text-shadow: 2px 2px #1A3263;
    color: #E8E2DB;
    font-family: Georgia, serif;
    opacity: .5;
    font-size: 24px;
}

#user-recipe-list {
    text-align: center;
    text-shadow: 2px 2px #1A3263;
    color: #E8E2DB;
    font-family: Georgia, serif;
    opacity: .5;
    font-size: 28px;
}

.submit-form {
    border-radius: 3px 8px;
    color: #1A3263;
}

.submit {
    border-radius: 3px 8px;
    color: #1A3263;
}

#select {
    border-radius: 3px 8px;
    color: #1A3263;
}

#user-select {
    border-radius: 3px 8px;
    color: #1A3263;
}

h2 {
    text-decoration: underline;
}

tbody {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    resize: none;
    overflow-y: scroll;
}