html {
    font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #202040;
  color: #FFBD69;
  border: solid #543864 2px;
}

.container {
  box-shadow: 3px 4px #543864;
  border-radius: 6px 16px;
  padding: 1rem;
  width: 420px;
  height: auto;
  display: none;
  background:#543864;
  opacity: .9;
  color: #FFBD69;
  font-family: Georgia, serif;
}

#user-pop-up {
    box-shadow: 3px 4px #543864;
    border-radius: 6px 16px;
    padding: 1rem;
    width: 420px;
    height: auto;
    display: none;
    background: #543864;
    opacity: .9;
    margin: 1rem 2rem;
    color: #FFBD69;
    font-family: Georgia, serif;
}

.user-selector {
    box-shadow: 3px 4px #543864;
    border-radius: 6px 16px;
    padding: 1rem;
    width: 420px;
    height: auto;
    display: none;
    background: #543864;
    opacity: .9;
    margin: 1rem 2rem;
    color: #FFBD69;
    font-family: Georgia, serif;
}

.card {
    box-shadow: 3px 4px #FF6363;
    border-radius: 15px 40px;
    text-align: center;
    border: solid  2px;
    padding: 20px;
    width: 250px;
    height: 450px;
    color: #543864;
    display: inline-grid;
    margin: 1rem 2rem;
    background-color: #FF6363;
    font-family: Georgia, serif; 
}

.recipe-status {
    font-size: larger;
    font-family: Georgia, serif;
}
.add-recipe-form {
    width: 80%;
    font-family: Georgia, serif;
}

.reset-recipe-btn {
    background-color: #202040;
    color: #FFBD69;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    height: 50px;
    width: 240px;
    cursor: pointer;
}

.like-recipe-btn {
    background-color: #202040;
    color: #FFBD69;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    height: 50px;
    width: 240px;
    cursor: pointer;
}

.delete-recipe-btn {
    background-color: #202040;
    color: #FFBD69;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    height: 50px;
    width: 240px;
    cursor: pointer;
}

#add-new-user {
    border-radius: 3px 8px;
    border: #FFBD69 solid 2px;
    font-size: 24px;
    height: auto;
    width: auto;
    border: #543864;
    background: #543864;
    box-shadow: 3px 4px #FFBD69;
    padding: 12px 28px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    color: #FFBD69;
    font-family: Georgia, serif;
}

#new-recipe-btn {
    border-radius: 3px 8px;
    font-size: 24px;
    height: auto;
    width: auto;
    border: #FFBD69;
    border: 2px;
    background: #543864;
    box-shadow: 3px 4px #FFBD69;
    padding: 12px 28px;
    margin-left: 50px;
    margin-top: 15px;
    cursor: pointer;
    color: #FFBD69;
    font-family: Georgia, serif;
}

#all-user-options {
    border-radius: 3px 8px;
    font-size: 24px;
    height: auto;
    width: auto;
    border: #FFBD69;
    border: 2px;
    background: #543864;
    box-shadow: 3px 4px #FFBD69;
    padding: 12px 28px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
    color: #FFBD69;
    font-family: Georgia, serif;
}

#tag-line {
    text-align: center;
    color: #FFBD69;
    font-family: Georgia, serif;
    opacity: .9;
    font-size: 24px;
}

#user-recipe-list {
    text-align: center;
    color: #FFBD69;
    font-family: Georgia, serif;
    opacity: .9;
    font-size: 28px;
}

.submit-form {
    border-radius: 3px 8px;
    background-color: #202040;
    color: #FFBD69;
}

.submit {
    border-radius: 3px 8px;
    background-color: #202040;
    color: #FFBD69;
}

#select {
    border-radius: 3px 8px;
    background-color: #202040;
    color: #FFBD69;
}

#user-select {
    border-radius: 3px 8px;
    background-color: #202040;
    color: #FFBD69;
}

h1 {
    text-align: center;
    color: #FFBD69;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

tbody {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    resize: none;
    overflow-y: scroll;
}

#recipe-collection {
    border: solid #FFBD69 2px;
}